# w209 Final Project Load Data

This code loads and processes the fitnessgram and academic test results into a school level dataset with variables recording the percentage of students at each school in the healthy / not healthy zones, and the academic performance of each school.

In [1]:
#Import Packages
import os
import pandas as pd
from IPython.display import display


#*******************************************************************************
#*******************************************************************************
#Set these file paths for your own local machine before running
#*******************************************************************************
#*******************************************************************************

#Set file path containing fitnessgram data
fitnessgram_datapath = "/Users/nwchen24/Desktop/UC_Berkeley/w209_Data_Viz/final_project_data/Fitnessgram_Results"

#Set file path containing academic test data
academic_datapath = "/Users/nwchen24/Desktop/UC_Berkeley/w209_Data_Viz/final_project_data/Test_Results"

#Set file path where you want to write the combined data
combined_datapath = '/Users/nwchen24/Desktop/UC_Berkeley/w209_Data_Viz/final_project_data/Combined_Data/Comb_Fitnessgram_Academic_2014_2016.csv'

# FitnessGram Data

In [2]:
#initialize lists to hold filepaths
Phys_files_list = []
Entities_files_list = []

#Walk the data directory and get all filepaths
for root, dirs, files in os.walk(fitnessgram_datapath):
    for filename in files:
        #Get full list of filepaths to the physical fitness test files
        if filename.endswith('.txt'):    
            if filename[:4] == "Phys":
                Phys_files_list.append(fitnessgram_datapath + "/PFT_" + filename[7:11] + "/" + filename)
            if filename[8:16] == "Research":
                Phys_files_list.append(fitnessgram_datapath + "/PFT_" + str(int(filename[:4])+1) + "/" + filename)

            #Get full list of filepaths to the entities files        
            if filename[:8] == "Entities":
                Entities_files_list.append(fitnessgram_datapath + "/PFT_" + filename[8:13] + "/" + filename)
            if filename[8:16] == "Entities":
                Entities_files_list.append(fitnessgram_datapath + "/PFT_" + str(int(filename[:4])+1) + "/" + filename)

In [3]:
Entities_files_list

['/Users/nwchen24/Desktop/UC_Berkeley/w209_Data_Viz/final_project_data/Fitnessgram_Results/PFT_2014/2013_14_Entities.txt',
 '/Users/nwchen24/Desktop/UC_Berkeley/w209_Data_Viz/final_project_data/Fitnessgram_Results/PFT_2015/2014_15_Entities.txt',
 '/Users/nwchen24/Desktop/UC_Berkeley/w209_Data_Viz/final_project_data/Fitnessgram_Results/PFT_2016/2015_16_Entities.txt']

In [4]:
#get list of all columns in the file from each year
Phys_col_list = []

#read PhysFit files and append column names to the list
for filepath in Phys_files_list:
    
    if int(filepath[93:97]) < 2014:
        pass
    
    elif (int(filepath[93:97]) >= 2014):
        #read the file
        temp_df = pd.read_csv(filepath)
        #print the shape
        print filepath[93:97]
        print temp_df.shape
        #get the columns
        temp_col_list = temp_df.columns
        #add columns not already encountered to the column list
        for colname in temp_col_list:
            if colname not in Phys_col_list:
                Phys_col_list.append(colname)

/Users/nwchen24/anaconda/envs/Machine_learning_python2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (9,10,11,12,14,15,16,17,19,20,21,22,23) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

2014
(2233435, 24)
2015
(2255801, 24)
2016
(2279222, 24)

In [5]:
#initialize dataframe to hold the physical fitness files
Physfit_df = pd.DataFrame(columns = Phys_col_list)

#read PhysFit files
for filepath in Phys_files_list:
    if int(filepath[93:97]) < 2014:
        pass
    
    elif (int(filepath[93:97]) >= 2014):
        temp_df = pd.read_csv(filepath)
        #temp_df = temp_df.rename(columns = Physfit_column_mapping)
        temp_df['Year'] = filepath[93:97]
        Physfit_df = Physfit_df.append(temp_df)
        print filepath[93:97] + " Read Successfully"

2014 Read Successfully
2015 Read Successfully
2016 Read Successfully

In [6]:
#read entities files
physfit_entities_df = pd.DataFrame()

entities_2014 = pd.read_table(Entities_files_list[0], delimiter = "\t")
entities_2014['Year'] = 2014
#Note there are some bad lines in the entities file. There are not that many, so we will just skip them
entities_2015 = pd.read_csv(Entities_files_list[1], error_bad_lines = False)
entities_2015['Year'] = 2015
entities_2016 = pd.read_csv(Entities_files_list[2], error_bad_lines = False)
entities_2016['Year'] = 2016

#combine all years
physfit_entities_df = physfit_entities_df.append(entities_2014).append(entities_2015).append(entities_2016)

#Standardize Columns
physfit_entities_coldict = {}
physfit_entities_coldict['scode'] = 'School_Code'
physfit_entities_coldict['ccode'] = 'County_Code'
physfit_entities_coldict['dcode'] = 'District_Code'
physfit_entities_coldict['chrtnum'] = 'Charter_Number'

physfit_entities_df = physfit_entities_df.rename(columns = physfit_entities_coldict)

physfit_entities_df.head()

Skipping line 154: expected 8 fields, saw 9
Skipping line 285: expected 8 fields, saw 9
Skipping line 287: expected 8 fields, saw 9
Skipping line 301: expected 8 fields, saw 9
Skipping line 302: expected 8 fields, saw 10
Skipping line 1961: expected 8 fields, saw 9
Skipping line 1964: expected 8 fields, saw 9
Skipping line 1966: expected 8 fields, saw 9
Skipping line 1967: expected 8 fields, saw 9
Skipping line 1968: expected 8 fields, saw 9
Skipping line 2468: expected 8 fields, saw 9
Skipping line 2469: expected 8 fields, saw 10
Skipping line 2486: expected 8 fields, saw 9
Skipping line 2570: expected 8 fields, saw 9
Skipping line 2649: expected 8 fields, saw 10
Skipping line 2659: expected 8 fields, saw 10
Skipping line 2682: expected 8 fields, saw 9
Skipping line 2683: expected 8 fields, saw 10
Skipping line 2686: expected 8 fields, saw 10
Skipping line 2687: expected 8 fields, saw 9
Skipping line 2694: expected 8 fields, saw 11
Skipping line 2753: expected 8 fields, saw 11
Skipping line 3236: expected 8 fields, saw 9
Skipping line 3285: expected 8 fields, saw 10
Skipping line 3483: expected 8 fields, saw 10
Skipping line 3484: expected 8 fields, saw 12
Skipping line 3673: expected 8 fields, saw 10
Skipping line 3674: expected 8 fields, saw 12
Skipping line 4179: expected 8 fields, saw 9
Skipping line 4209: expected 8 fields, saw 9
Skipping line 4732: expected 8 fields, saw 9
Skipping line 4751: expected 8 fields, saw 9
Skipping line 6070: expected 8 fields, saw 10
Skipping line 6217: expected 8 fields, saw 9
Skipping line 6404: expected 8 fields, saw 9
Skipping line 6620: expected 8 fields, saw 9
Skipping line 6961: expected 8 fields, saw 10
Skipping line 7110: expected 8 fields, saw 9
Skipping line 7542: expected 8 fields, saw 9
Skipping line 7588: expected 8 fields, saw 10
Skipping line 7857: expected 8 fields, saw 11
Skipping line 7858: expected 8 fields, saw 14
Skipping line 7870: expected 8 fields, saw 10
Skipping line 8009: expected 8 fields, saw 9
Skipping line 8101: expected 8 fields, saw 9
Skipping line 8223: expected 8 fields, saw 10
Skipping line 8233: expected 8 fields, saw 9
Skipping line 8234: expected 8 fields, saw 10
Skipping line 8917: expected 8 fields, saw 9
Skipping line 8918: expected 8 fields, saw 10
Skipping line 8961: expected 8 fields, saw 9
Skipping line 9351: expected 8 fields, saw 10
Skipping line 9352: expected 8 fields, saw 10
Skipping line 9353: expected 8 fields, saw 10
Skipping line 9770: expected 8 fields, saw 9

,County_Code,District_Code,Charter_Number,School_Code,cdscode,County,District,School,Year
0,1,0,0000,0,1000000000000,Alameda,Alameda County,NaN,2014
1,1,10017,0000,0,1100170000000,Alameda,Alameda County Office of Education,NaN,2014
2,1,10017,0000,130401,1100170130401,Alameda,Alameda County Office of Education,Alameda County Juvenile Hall/Court,2014
3,1,10017,0000,130419,1100170130419,Alameda,Alameda County Office of Education,Alameda County Community,2014
4,1,10017,0728,0,1100170000000,Alameda,FAME Public Charter,NaN,2014

### Subset Data to Keep only Observations we Want

In [7]:
Physfit_df.shape

#Keep only summaries of certain fitness tests
Physfit_df_2 = Physfit_df.loc[Physfit_df.Table_Number == 1]

#Keep only Aerobic capacity and body composition reports
#remove trailing spaces from line descriptor
Physfit_df_2['Line_Text'] = Physfit_df_2['Line_Text'].map(lambda x: x.strip())
Physfit_df_2 = Physfit_df_2.loc[(Physfit_df_2.Line_Text == "Aerobic Capacity") | (Physfit_df_2.Line_Text == "Body Composition")]

#Remove state level summaries
Physfit_df_2 = Physfit_df_2.loc[Physfit_df_2.Level_Number != 4]

#Remove summary report numbers - these were already removed in the first subset step that kept only summaries of individual fitness tests
Physfit_df_2 = Physfit_df_2.loc[Physfit_df_2.Report_Number < 14]

#********************************
#Convert to wide format
#Take aerobic capacity and body comp subsets
Physfit_df_2a = Physfit_df_2.loc[Physfit_df_2.Line_Text == "Aerobic Capacity"]
Physfit_df_2b = Physfit_df_2.loc[Physfit_df_2.Line_Text == "Body Composition"]

#rename columns
body_comp_col_dict = {}
body_comp_col_dict['NoHFZ5'] = 'NoHFZ5_bodycomp'
body_comp_col_dict['NoHFZ7'] = 'NoHFZ7_bodycomp'
body_comp_col_dict['NoHFZ9'] = 'NoHFZ9_bodycomp'

body_comp_col_dict['NoStud5'] = 'NoStud5_bodycomp'
body_comp_col_dict['NoStud7'] = 'NoStud7_bodycomp'
body_comp_col_dict['NoStud9'] = 'NoStud9_bodycomp'

body_comp_col_dict['Perc5a'] = 'Perc5HFZ_bodycomp'
body_comp_col_dict['Perc5b'] = 'Perc5NI_bodycomp'
body_comp_col_dict['Perc5c'] = 'Perc5NI_HR_bodycomp'

body_comp_col_dict['Perc7a'] = 'Perc7HFZ_bodycomp'
body_comp_col_dict['Perc7b'] = 'Perc7NI_bodycomp'
body_comp_col_dict['Perc7c'] = 'Perc7NI_HR_bodycomp'

body_comp_col_dict['Perc9a'] = 'Perc9HFZ_bodycomp'
body_comp_col_dict['Perc9b'] = 'Perc9NI_bodycomp'
body_comp_col_dict['Perc9c'] = 'Perc9NI_HR_bodycomp'


aero_col_dict = {}
aero_col_dict['NoHFZ5'] = 'NoHFZ5_aerobic'
aero_col_dict['NoHFZ7'] = 'NoHFZ7_aerobic'
aero_col_dict['NoHFZ9'] = 'NoHFZ9_aerobic'

aero_col_dict['NoStud5'] = 'NoStud5_aerobic'
aero_col_dict['NoStud7'] = 'NoStud7_aerobic'
aero_col_dict['NoStud9'] = 'NoStud9_aerobic'

aero_col_dict['Perc5a'] = 'Perc5HFZ_aerobic'
aero_col_dict['Perc5b'] = 'Perc5NI_aerobic'
aero_col_dict['Perc5c'] = 'Perc5NI_HR_aerobic'

aero_col_dict['Perc7a'] = 'Perc7HFZ_aerobic'
aero_col_dict['Perc7b'] = 'Perc7NI_aerobic'
aero_col_dict['Perc7c'] = 'Perc7NI_HR_aerobic'

aero_col_dict['Perc9a'] = 'Perc9HFZ_aerobic'
aero_col_dict['Perc9b'] = 'Perc9NI_aerobic'
aero_col_dict['Perc9c'] = 'Perc9NI_HR_aerobic'


Physfit_df_2a = Physfit_df_2a.rename(columns = aero_col_dict)
Physfit_df_2b = Physfit_df_2b.rename(columns = body_comp_col_dict)

#delete line number and test descriptor columns which also identifies the fitness metric
Physfit_df_2a = Physfit_df_2a.drop(['Line_Number', 'Line_Text'], axis = 1)
Physfit_df_2b = Physfit_df_2b.drop(['Line_Number', 'Line_Text'], axis = 1)

#merge
Physfit_df_2_comb = pd.merge(left = Physfit_df_2a, right = Physfit_df_2b, how = 'inner')

#Add labels to the subgroup identifiers
subgroup_label_dict = {}
#These mappings are based on the data descriptions
subgroup_label_dict[0] = 'All'
subgroup_label_dict[1] = 'Female'
subgroup_label_dict[2] = 'Male'
subgroup_label_dict[3] = 'Black'
subgroup_label_dict[4] = 'American_Indian'
subgroup_label_dict[5] = 'Asian'
subgroup_label_dict[6] = 'Filipino'
subgroup_label_dict[7] = 'Hispanic'
subgroup_label_dict[8] = 'Hawaiian'
subgroup_label_dict[9] = 'White'
subgroup_label_dict[10] = 'Multiracial'
subgroup_label_dict[11] = 'Economic_disadv'
subgroup_label_dict[12] = 'NOT_economic_disadv'
subgroup_label_dict[13] = 'No_economic_info'

Physfit_df_2_comb = Physfit_df_2_comb.replace({"Report_Number": subgroup_label_dict})

#Keep only a subset of the subgroups
Physfit_df_2_comb = Physfit_df_2_comb.loc[Physfit_df_2_comb.Report_Number.isin(['All', 'Economic_disadv', 'NOT_economic_disadv'])]

#Drop the columns counting the number of students in each group
Physfit_df_2_comb = Physfit_df_2_comb.drop(['NoHFZ7_aerobic', 'NoHFZ5_aerobic', 'NoStud7_aerobic', 'NoStud5_aerobic',\
                                           'NoHFZ7_bodycomp', 'NoHFZ5_bodycomp', 'NoStud7_bodycomp', 'NoStud5_bodycomp',\
                                           'Perc7HFZ_bodycomp', 'Perc7NI_bodycomp', 'Perc7NI_HR_bodycomp',\
                                           'Perc5HFZ_bodycomp', 'Perc5NI_bodycomp', 'Perc5NI_HR_bodycomp',\
                                           'Perc7HFZ_aerobic', 'Perc7NI_aerobic', 'Perc7NI_HR_aerobic',\
                                           'Perc5HFZ_aerobic', 'Perc5NI_aerobic', 'Perc5NI_HR_aerobic'],\
                                          axis = 1)

Physfit_df_2_comb.head()

/Users/nwchen24/anaconda/envs/Machine_learning_python2/lib/python2.7/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,CO,ChrtNum,DIST,Level_Number,NoHFZ9_aerobic,NoStud9_aerobic,Perc9HFZ_aerobic,Perc9NI_aerobic,Perc9NI_HR_aerobic,Report_Number,SCHL,Table_Number,Year,NoHFZ9_bodycomp,NoStud9_bodycomp,Perc9HFZ_bodycomp,Perc9NI_bodycomp,Perc9NI_HR_bodycomp
0,10.0,0000,73965.0,1.0,0,0.0,0.0,0.0,0.0,All,6120521.0,1.0,2014,0,0.0,0.0,0.0,0.0
1,10.0,0000,73965.0,1.0,0,0.0,0.0,0.0,0.0,All,6120539.0,1.0,2014,0,0.0,0.0,0.0,0.0
2,10.0,0000,73999.0,1.0,0,0.0,0.0,0.0,0.0,All,1.0,1.0,2014,0,0.0,0.0,0.0,0.0
3,10.0,0000,73999.0,1.0,0,0.0,0.0,0.0,0.0,All,123596.0,1.0,2014,0,0.0,0.0,0.0,0.0
4,10.0,0000,73999.0,1.0,**,8.0,**,**,**,All,1033422.0,1.0,2014,**,8.0,**,**,**

# Academic Test Data


Download the academic data here by copying these into your browser:  
2016: http://www3.cde.ca.gov/caasppresearchfiles/2016/pp/ca2016_all_csv_v3.zip  
2015: http://www3.cde.ca.gov/caasppresearchfiles/2015/pp-p3/ca2015_all_csv_v3.zip  
2014: http://www3.cde.ca.gov/caasppresearchfiles/2014/p2/ca2014_all_csv_v2.zip  


Unzip the zip files to separate folders for each year in some directory.  

The website containing these results is here:  
http://caaspp.cde.ca.gov/

In [8]:
#initialize lists to hold filepaths
academic_files_list = []
academic_entities_files_list = []

#Walk the data directory and get all filepaths
for root, dirs, files in os.walk(academic_datapath):
    for filename in files:
        #Get full list of filepaths to the physical fitness test files
        if filename[7:10] == "all":    
            academic_files_list.append(academic_datapath + "/" + filename[2:6] + "/" + filename)
        elif filename[6:14] == "entities":
            academic_entities_files_list.append(academic_datapath + "/" + filename[2:6] + "/" + filename)

In [9]:
#read academic entities
academic_entities = pd.DataFrame()

for filepath in academic_entities_files_list:
    temp_df = pd.read_csv(filepath)
    academic_entities = academic_entities.append(temp_df)
    
#replace spaces in column names with underscores
academic_entities.columns = [c.replace(' ', '_') for c in academic_entities.columns]

academic_entities.head()

,Charter_Number,County_Code,County_Name,District_Code,District_Name,School_Code,School_Name,Test_Year,Type_Id,Zip_Code,filler
0,0.0,0,State of California,0,NaN,0,NaN,2014,4,,NaN
1,0.0,1,Alameda,0,NaN,0,NaN,2014,5,,NaN
2,0.0,1,Alameda,10017,Alameda County Office of Education,0,NaN,2014,6,,NaN
3,728.0,1,Alameda,10017,FAME Public Charter,109835,FAME Public Charter,2014,9,94560,NaN
4,811.0,1,Alameda,10017,Envision Academy for Arts & T,112607,Envision Academy for Arts & T,2014,9,94612,NaN

In [10]:
#get list of all columns in the file from each year
academic_col_list = []

#read PhysFit files and append column names to the list
for filepath in academic_files_list:
    #read the file
    temp_df = pd.read_csv(filepath)
    #print the shape
    print filepath[89:93]
    print temp_df.shape
    #get the columns
    temp_col_list = temp_df.columns
    print temp_col_list
    #add columns not already encountered to the column list
    for colname in temp_col_list:
        if colname not in academic_col_list:
            academic_col_list.append(colname)
            
print len(academic_col_list)

2014
(1177424, 21)
Index([u'County Code', u'District Code', u'School Code', u'Charter Number',
       u'Test Year', u'Subgroup ID', u'Test Type', u'CAPA Assessment Level',
       u'Total Tested At Entity Level', u'Total Tested At Subgroup Level',
       u'Grade', u'Test Id', u'Students Tested', u'Mean Scale Score',
       u'Percentage Advanced', u'Percentage Proficient',
       u'Percentage At Or Above Proficient', u'Percentage Basic',
       u'Percentage Below Basic', u'Percentage Far Below Basic',
       u'Students with Scores'],
      dtype='object')
2015
(727771, 21)
Index([u'County Code', u'District Code', u'School Code', u'filler',
       u'Test Year', u'Subgroup ID', u'Test Type', u'CAPA Assessment Level',
       u'Total Tested At Entity Level', u'Total Tested At Subgroup Level',
       u'Grade', u'Test Id', u'Students Tested', u'Mean Scale Score',
       u'Percentage Advanced', u'Percentage Proficient',
       u'Percentage At Or Above Proficient', u'Percentage Basic',
       u'Percentage Below Basic', u'Percentage Far Below Basic',
       u'Students with Scores'],
      dtype='object')
2016
(262313, 22)
Index([u'County Code', u'District Code', u'School Code', u'filler',
       u'Test Year', u'Subgroup ID', u'Test Type',
       u'CAPA Science Assessment Level', u'Total CAASPP Enrollment',
       u'Total Tested At Entity Level', u'Total Students with Scores',
       u'Grade', u'Test Id', u'Students Tested', u'Mean Scale Score',
       u'Percentage Advanced', u'Percentage Proficient',
       u'Percentage At Or Above Proficient', u'Percentage Basic',
       u'Percentage Below Basic', u'Percentage Far Below Basic',
       u'Students with Scores'],
      dtype='object')
25

In [11]:
academic_col_list.remove('filler')
academic_col_list.remove('CAPA Assessment Level')
academic_col_list.remove('CAPA Science Assessment Level')
academic_col_list.remove('Total CAASPP Enrollment')
academic_col_list.remove('Total Students with Scores')
#academic_col_list.remove('Students Tested')
academic_col_list.remove('Total Tested At Subgroup Level')
academic_col_list.remove('Total Tested At Entity Level')
academic_col_list.remove('Percentage Advanced')
academic_col_list.remove('Percentage Proficient')
academic_col_list.remove('Percentage At Or Above Proficient')
academic_col_list.remove('Percentage Basic')
academic_col_list.remove('Percentage Below Basic')
academic_col_list.remove('Percentage Far Below Basic')
academic_col_list.remove('Students with Scores')
academic_col_list

['County Code',
 'District Code',
 'School Code',
 'Charter Number',
 'Test Year',
 'Subgroup ID',
 'Test Type',
 'Grade',
 'Test Id',
 'Students Tested',
 'Mean Scale Score']

In [12]:
academic_df = pd.DataFrame()

#read PhysFit files
 

for filepath in academic_files_list:
    temp_df = pd.read_csv(filepath)
    #temp_df = temp_df.rename(columns = Physfit_column_mapping)
    academic_df = academic_df.append(temp_df)
    print filepath[89:93] + " Read Successfully"

#Keep only the columns that we want
academic_df = academic_df.drop(['CAPA Assessment Level', 'CAPA Science Assessment Level', 'Total CAASPP Enrollment',\
                               'Total Students with Scores',\
                               'Total Tested At Entity Level', 'Percentage Advanced', 'Percentage Proficient',\
                               'Percentage At Or Above Proficient', 'Percentage Basic', 'Percentage Below Basic',\
                               'Percentage Far Below Basic', 'Students with Scores', 'filler'], axis = 1)

#replace spaces in column names with underscores
academic_df.columns = [c.replace(' ', '_') for c in academic_df.columns]

2014 Read Successfully
2015 Read Successfully
2016 Read Successfully

In [13]:
#how many observations of each grade are there:
acadmiec_df_test = academic_df.loc[academic_df.Subgroup_ID == 1]

#acadmiec_df_test.groupby(['Grade']).agg(['count'])
#There are far more observations for grade 10 than grade 9 in the academic test scores.

In [14]:
#Subset the academic data to only the observations we're interested in.
#See subgroup ID mappings here: http://caaspp.cde.ca.gov/caaspp2015/research_fixfileformat.aspx
#We want all students, and the following subgroups individually:
#male, female, black, american indian, asian, filipino, hispanic, hawaiian, white, multiracial, economically disadvantaged, not ecnonomically disadvantaged, and non economic info

#instantiate dict to map subgroup IDs to the groups we're interested in
subgroup_label_dict = {}

subgroup_label_dict[1] = 'All'
subgroup_label_dict[4] = 'Female'
subgroup_label_dict[3] = 'Male'
subgroup_label_dict[74] = 'Black'
subgroup_label_dict[75] = 'American_Indian'
subgroup_label_dict[76] = 'Asian'
subgroup_label_dict[77] = 'Filipino'
subgroup_label_dict[78] = 'Hispanic'
subgroup_label_dict[79] = 'Hawaiian'
subgroup_label_dict[80] = 'White'
subgroup_label_dict[144] = 'Multiracial'
subgroup_label_dict[31] = 'Economic_disadv'
subgroup_label_dict[111] = 'NOT_economic_disadv'

#Keep only observations for the subgroups we're interested in (All students and economically disdvantaged or not)
academic_df_2 = academic_df.loc[academic_df.Subgroup_ID.isin([1.0,31.0, 111.0])]

#Keep only grade 10
academic_df_2 = academic_df_2.loc[academic_df_2.Grade == 10]

#convert mean scale score to numeric
academic_df_2['Mean_Scale_Score'] = academic_df_2['Mean_Scale_Score'].apply(pd.to_numeric, errors = "NA")

#Get average score at the school x subgroup level
academic_df_2 = academic_df_2.drop(['Test_Id', 'Test_Type', 'Grade', 'Test_Year', 'Charter_Number'], axis = 1)
academic_df_2 = academic_df_2.groupby(['County_Code', 'District_Code', 'School_Code', 'Subgroup_ID'], as_index=False).mean()

#relabel subgroup IDs
academic_df_2 = academic_df_2.replace({"Subgroup_ID": subgroup_label_dict})

#rename some columns
academic_col_mapping = {}
academic_col_mapping['Test_Year'] = 'Year'
academic_col_mapping['Subgroup_ID'] = 'Subgroup'
academic_col_mapping['Mean_Scale_Score'] = 'Mean_Academic_Test_Score'
academic_col_mapping['Students_Tested'] = 'Students_Tested_Academic'
academic_col_mapping['Total_Tested_At_Subgroup_Level'] = 'Total_Tested_At_Subgroup_Level_Academic'


academic_df_2 = academic_df_2.rename(columns = academic_col_mapping)

#convert to wide format so we have mean test score for each grade in each row
#academic_df_2 = academic_df_2.pivot_table(index = ['School_Code', 'Subgroup', 'Charter_Number', 'County_Code', 'District_Code', 'Year'], columns = 'Grade', values = 'Mean_Academic_Test_Score')

#reset index
#academic_df_2 = academic_df_2.reset_index(level = [0,1,2,3,4,5])

#academic_df_2 = academic_df_2.rename(index={'Grade': 'Index'})
#academic_df_2 = academic_df_2.rename(columns = {5.0:'Avg_Score_Grade5', 7.0:'Avg_Score_Grade7', 9.0:'Avg_Score_Grade9'})
academic_df_2.head()
#Mean academic test scores now ready to merge with fitnessgram data

,County_Code,District_Code,School_Code,Subgroup,Mean_Academic_Test_Score,Students_Tested_Academic,Total_Tested_At_Subgroup_Level_Academic
0,0,0,0,All,174.652632,69597.200000,2325012.6
1,0,0,0,Economic_disadv,205.540000,48195.454545,2193332.0
2,0,0,0,NOT_economic_disadv,219.720000,36050.454545,1490848.0
3,1,0,0,All,338.300000,6645.142857,82852.4
4,1,0,0,Economic_disadv,317.566667,2889.000000,38209.6

# Merge Academic Results with Fitnessgram

In [40]:
#rename Fitnessgram data columns to facilitate merge
Physfit_col_mapping = {}
Physfit_col_mapping['CO'] = 'County_Code'
Physfit_col_mapping['ChrtNum'] = 'Charter_Number'
Physfit_col_mapping['DIST'] = 'District_Code'
Physfit_col_mapping['SCHL'] = 'School_Code'
Physfit_col_mapping['Report_Number'] = 'Subgroup'

Physfit_df_3_comb = Physfit_df_2_comb.rename(columns = Physfit_col_mapping)

#Keep only school level observations
Physfit_df_3_comb = Physfit_df_3_comb.loc[Physfit_df_2_comb.Level_Number == 1]

#delete columns
Physfit_df_3_comb = Physfit_df_3_comb.drop(['Table_Number', 'Level_Number', 'Charter_Number', 'Year'], axis = 1)

#convert columns to numeric
Physfit_df_3_comb['NoHFZ9_aerobic'] = Physfit_df_3_comb['NoHFZ9_aerobic'].apply(pd.to_numeric, errors = "NA")
Physfit_df_3_comb['NoStud9_aerobic'] = Physfit_df_3_comb['NoStud9_aerobic'].apply(pd.to_numeric, errors = "NA")
Physfit_df_3_comb['Perc9HFZ_aerobic'] = Physfit_df_3_comb['Perc9HFZ_aerobic'].apply(pd.to_numeric, errors = "NA")
Physfit_df_3_comb['Perc9NI_aerobic'] = Physfit_df_3_comb['Perc9NI_aerobic'].apply(pd.to_numeric, errors = "NA")
Physfit_df_3_comb['Perc9NI_HR_aerobic'] = Physfit_df_3_comb['Perc9NI_HR_aerobic'].apply(pd.to_numeric, errors = "NA")
Physfit_df_3_comb['NoHFZ9_bodycomp'] = Physfit_df_3_comb['NoHFZ9_bodycomp'].apply(pd.to_numeric, errors = "NA")
Physfit_df_3_comb['Perc9HFZ_bodycomp'] = Physfit_df_3_comb['Perc9HFZ_bodycomp'].apply(pd.to_numeric, errors = "NA")
Physfit_df_3_comb['Perc9NI_bodycomp'] = Physfit_df_3_comb['Perc9NI_bodycomp'].apply(pd.to_numeric, errors = "NA")
Physfit_df_3_comb['Perc9NI_HR_bodycomp'] = Physfit_df_3_comb['Perc9NI_HR_bodycomp'].apply(pd.to_numeric, errors = "NA")


#Get average across years
Physfit_df_3_comb = Physfit_df_3_comb.groupby(['County_Code', 'District_Code', 'School_Code', 'Subgroup'], as_index=False).mean()
#Physfit_df_3_comb = Physfit_df_3_comb.groupby(['County_Code', 'District_Code', 'School_Code', 'Subgroup']).mean()

In [41]:
Physfit_df_3_comb.head()

,County_Code,District_Code,School_Code,Subgroup,NoHFZ9_aerobic,NoStud9_aerobic,Perc9HFZ_aerobic,Perc9NI_aerobic,Perc9NI_HR_aerobic,NoHFZ9_bodycomp,NoStud9_bodycomp,Perc9HFZ_bodycomp,Perc9NI_bodycomp,Perc9NI_HR_bodycomp
0,1.0,10017.0,109835.0,All,13.500000,34.000000,38.350000,48.150000,13.500000,25.500000,34.000000,73.400000,16.600000,10.000000
1,1.0,10017.0,109835.0,Economic_disadv,7.000000,19.000000,31.300000,51.150000,17.550000,16.000000,19.000000,80.800000,10.100000,9.100000
2,1.0,10017.0,109835.0,NOT_economic_disadv,6.000000,14.000000,33.300000,66.700000,0.000000,10.000000,14.000000,55.600000,27.800000,16.600000
3,1.0,10017.0,112607.0,All,32.666667,104.666667,31.066667,56.133333,12.800000,51.000000,104.666667,48.533333,21.766667,29.700000
4,1.0,10017.0,112607.0,Economic_disadv,22.666667,75.000000,30.233333,57.033333,12.733333,36.333333,75.000000,48.466667,21.400000,30.133333

In [51]:
#Merge
print Physfit_df_3_comb.shape
print academic_df_2.shape

combined_DF = pd.merge(left = Physfit_df_3_comb, right = academic_df_2, how = 'inner', on = ['County_Code', 'District_Code', 'School_Code', 'Subgroup'])
print combined_DF.shape
combined_DF.head()

(28710, 14)
(11126, 7)
(6581, 17)

,County_Code,District_Code,School_Code,Subgroup,NoHFZ9_aerobic,NoStud9_aerobic,Perc9HFZ_aerobic,Perc9NI_aerobic,Perc9NI_HR_aerobic,NoHFZ9_bodycomp,NoStud9_bodycomp,Perc9HFZ_bodycomp,Perc9NI_bodycomp,Perc9NI_HR_bodycomp,Mean_Academic_Test_Score,Students_Tested_Academic,Total_Tested_At_Subgroup_Level_Academic
0,1.0,10017.0,109835.0,All,13.500000,34.000000,38.350000,48.150000,13.500000,25.500000,34.000000,73.400000,16.600000,10.000000,349.050000,50.5,378.000000
1,1.0,10017.0,109835.0,Economic_disadv,7.000000,19.000000,31.300000,51.150000,17.550000,16.000000,19.000000,80.800000,10.100000,9.100000,346.950000,32.5,251.500000
2,1.0,10017.0,109835.0,NOT_economic_disadv,6.000000,14.000000,33.300000,66.700000,0.000000,10.000000,14.000000,55.600000,27.800000,16.600000,352.750000,18.0,126.500000
3,1.0,10017.0,112607.0,All,32.666667,104.666667,31.066667,56.133333,12.800000,51.000000,104.666667,48.533333,21.766667,29.700000,324.233333,54.0,142.000000
4,1.0,10017.0,112607.0,Economic_disadv,22.666667,75.000000,30.233333,57.033333,12.733333,36.333333,75.000000,48.466667,21.400000,30.133333,322.966667,49.5,109.333333

In [52]:
#calculate cmobined score for aerobic and bodycomp as ((number unhealthy bodycomp + number unhealthy aerobic) / 2 ) / total_students
combined_DF2 = combined_DF.copy()

combined_DF2['Combined_Fitness_Unhealthy_Pct'] = ((2 * combined_DF['NoStud9_aerobic'] - combined_DF['NoHFZ9_aerobic']\
                                                 - combined_DF['NoHFZ9_bodycomp']) / 2) / combined_DF['NoStud9_aerobic']

#keep only columns we want
combined_DF2 = combined_DF2.drop(['District_Code', 'NoHFZ9_aerobic', 'NoStud9_aerobic', 'Perc9HFZ_aerobic', 'Perc9NI_aerobic',\
                                'Perc9NI_HR_aerobic', 'NoHFZ9_bodycomp', 'NoStud9_bodycomp', 'Perc9HFZ_bodycomp',\
                                'Perc9NI_bodycomp', 'Perc9NI_HR_bodycomp', 'Students_Tested_Academic', 'Total_Tested_At_Subgroup_Level_Academic'], axis = 1)




#pivot so there is one row per school
combined_DF2_schools = pd.pivot_table(combined_DF2, values = ['Combined_Fitness_Unhealthy_Pct', 'Mean_Academic_Test_Score'], index = ['County_Code', 'School_Code'], columns = ['Subgroup'])

combined_DF2_schools.columns = ['_'.join(col).strip() for col in combined_DF2_schools.columns.values]

combined_DF2_schools = combined_DF2_schools.reset_index()

#merge in school names
#get unique list of counties from entities file
physfit_entities_df_schools = physfit_entities_df[['County_Code', 'County', 'School_Code', 'School']]
physfit_entities_df_counties = physfit_entities_df_counties.drop_duplicates()

combined_DF2_schools = pd.merge(left = combined_DF2_schools, right = physfit_entities_df_counties, how = 'inner', on = ['County_Code', 'School_Code'])

In [55]:
#create a test subset of one county for scatterplot testing
test_county = combined_DF2_schools.loc[combined_DF2_schools.County_Code == 1.0,:]

test_county.to_csv('/Users/nwchen24/Desktop/UC_Berkeley/w209_Data_Viz/final_project_data/Combined_Data/Alameda_County_Scatterplot_test.csv')

,County_Code,School_Code,Mean_Academic_Test_Score_All,Mean_Academic_Test_Score_Economic_disadv,Mean_Academic_Test_Score_NOT_economic_disadv,Combined_Fitness_Unhealthy_Pct_All,Combined_Fitness_Unhealthy_Pct_Economic_disadv,Combined_Fitness_Unhealthy_Pct_NOT_economic_disadv,County,School
0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,Alameda,New Haven Unified NPS Students
1,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,Alameda,Fremont Unified NPS Students
2,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,Alameda,Livermore Valley Joint Unified NPS Students
3,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,Alameda,Oakland Unified NPS Students
4,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,Alameda,Sunol Glen Unified NPS Students
5,1.0,100065.0,324.700000,325.933333,322.700000,0.530797,0.521930,0.522727,Alameda,Oakland Unity High
6,1.0,100701.0,298.100000,294.966667,NaN,0.628571,0.536765,0.343750,Alameda,MetWest High
7,1.0,106401.0,427.200000,416.500000,433.266667,0.237037,0.223404,0.238372,Alameda,Alameda Science and Technology Institute
8,1.0,106542.0,NaN,NaN,NaN,NaN,NaN,1.000000,Alameda,Community Day
9,1.0,106906.0,324.900000,324.066667,NaN,0.489583,0.463415,NaN,Alameda,Bay Area Technology
10,1.0,107839.0,364.400000,356.400000,365.500000,NaN,NaN,NaN,Alameda,Livermore Valley Charter
11,1.0,108670.0,369.100000,359.200000,389.200000,0.487437,0.517857,0.410256,Alameda,Leadership Public Schools - Hayward
12,1.0,108944.0,354.600000,351.766667,376.900000,0.414027,0.417098,1.000000,Alameda,Lighthouse Community Charter High
13,1.0,109835.0,349.050000,346.950000,352.750000,0.426471,0.394737,0.428571,Alameda,FAME Public Charter
14,1.0,110189.0,280.500000,280.833333,NaN,0.550000,0.283333,0.723684,Alameda,McClymonds High
15,1.0,111799.0,337.666667,319.666667,377.066667,0.430328,0.443182,0.413793,Alameda,East Bay Arts High
16,1.0,111856.0,416.033333,414.766667,384.300000,0.349138,0.284314,0.318182,Alameda,American Indian Public High
17,1.0,112607.0,324.233333,322.966667,331.500000,0.600318,0.606667,0.590361,Alameda,Envision Academy for Arts & Technology
18,1.0,112797.0,323.666667,323.533333,NaN,0.580247,0.577640,NaN,Alameda,Coliseum College Prep Academy
19,1.0,113902.0,353.566667,346.800000,371.300000,0.492978,0.504016,0.471698,Alameda,Impact Academy of Arts & Technology
20,1.0,114421.0,367.133333,361.533333,372.366667,0.447704,0.500000,NaN,Alameda,KIPP King Collegiate High
21,1.0,114868.0,420.500000,414.933333,453.850000,0.250000,0.256329,-0.058824,Alameda,Oakland Charter High
22,1.0,115238.0,314.050000,314.350000,NaN,0.535714,0.522727,NaN,Alameda,ARISE High
23,1.0,115667.0,265.133333,264.633333,263.600000,0.389151,0.380000,1.000000,Alameda,Oakland International High
24,1.0,118224.0,307.300000,306.200000,NaN,0.655702,0.661836,1.000000,Alameda,Aspire Golden State College Preparatory Academy
25,1.0,118489.0,399.350000,396.250000,410.300000,0.631148,0.642105,0.678571,Alameda,Aspire California College Preparatory Academy
26,1.0,119222.0,337.800000,327.266667,343.400000,0.492424,0.583333,0.259259,Alameda,Nea Community Learning Center
27,1.0,120931.0,397.450000,343.500000,402.000000,0.384106,NaN,NaN,Alameda,Livermore Valley Charter Preparatory High
28,1.0,122697.0,325.133333,323.500000,330.833333,0.363636,0.362445,0.396226,Alameda,REALM Charter High
29,1.0,125161.0,289.966667,290.533333,287.300000,0.572527,0.439474,0.663793,Alameda,Castlemont High
...,...,...,...,...,...,...,...,...,...,...
57,1.0,131755.0,NaN,NaN,NaN,NaN,NaN,1.000000,Alameda,California School for the Blind
58,1.0,131763.0,300.100000,316.500000,287.850000,0.346154,0.127049,NaN,Alameda,California School for the Deaf-Fremont
59,1.0,132142.0,322.500000,307.800000,392.900000,0.309055,0.369369,0.264286,Alameda,Encinal Junior/Senior High
60,1.0,132225.0,346.240000,360.366667,349.725000,0.222973,0.266940,0.208040,Alameda,Castro Valley High
61,1.0,132555.0,371.000000,375.000000,NaN,0.550000,0.636364,NaN,Alameda,Conservatory of Vocal/Instrumental Arts High
62,1.0,132704.0,400.166667,361.133333,404.366667,0.237427,0.323944,0.225737,Alameda,Dublin High
63,1.0,132746.0,315.500000,309.900000,313.300000,0.569620,1.000000,NaN,Alameda,Emery Secondary
64,1.0,132878.0,366.500000,351.950000,380.300000,0.343396,0.383333,0.306738,Alameda,Encinal High
65,1.0,133397.0,375.325000,358.666667,411.466667,0.247235,0.436426,0.202362,Alameda,Granada High
66,1.0,133629.0,321.850000,316.850000,350.533333,0.627189,0.640712,0.565891,Alameda,Hayward High
67,1.0,134270.0,391.300000,370.000000,413.480000,0.228381,0.358537,0.206063,Alameda,Irvington High
68,1.0,134452.0,355.666667,335.800000,371.000000,0.393811,0.454930,0.350549,Alameda,John F. Kennedy High
69,1.0,134536.0,376.866667,334.733333,390.433333,0.299278,0.435792,0.248506,Alameda,Livermore High
70,1.0,134668.0,340.840000,329.740000,351.540000,0.371603,0.275210,0.308891,Alameda,James Logan High
71,1.0,135244.0,453.166667,386.133333,455.866667,0.140212,0.343750,0.132323,Alameda,Mission San Jose High
72,1.0,135319.0,335.033333,329.433333,347.533333,0.507963,0.527674,0.456410,Alameda,Mt. Eden High
73,1.0,135533.0,307.033333,NaN,327.900000,NaN,1.000000,NaN,Alameda,Redwood Continuation High
74,1.0,135905.0,289.780000,291.540000,304.100000,0.471241,0.513514,0.490000,Alameda,Oakland High
75,1.0,136051.0,338.016667,332.180000,398.566667,0.378032,0.237903,-0.001597,Alameda,Oakland Technical High
76,1.0,136515.0,429.000000,NaN,429.200000,0.131240,NaN,0.126030,Alameda,Piedmont High
77,1.0,137588.0,316.866667,311.616667,359.633333,0.348869,0.376496,0.298061,Alameda,San Leandro High
78,1.0,137810.0,321.575000,320.675000,325.533333,0.437562,0.438639,0.428571,Alameda,San Lorenzo High
79,1.0,137943.0,316.383333,311.583333,346.633333,0.584842,0.629534,0.515873,Alameda,Skyline High
80,1.0,138339.0,303.680000,306.375000,325.866667,0.573370,0.591954,0.465686,Alameda,Tennyson High
81,1.0,138693.0,349.220000,343.766667,387.800000,0.320532,0.401136,0.276228,Alameda,Washington High
82,1.0,3030772.0,400.166667,366.866667,406.466667,NaN,NaN,NaN,Alameda,Oakland School for the Arts
83,1.0,6001341.0,412.400000,374.900000,419.400000,NaN,NaN,NaN,Alameda,William Mendenhall Middle
84,1.0,6066450.0,314.650000,313.350000,NaN,0.550794,0.566372,1.000000,Alameda,Madison Park Academy 6-12
85,1.0,6114011.0,309.033333,297.300000,NaN,0.695946,1.000000,1.000000,Alameda,"Independent Study, Sojourner Truth"
86,1.0,6114011.0,309.033333,297.300000,NaN,0.695946,1.000000,1.000000,Alameda,Independent Study

In [86]:
#Write output to file
combined_DF.to_csv(combined_datapath)

# Look Into Observations that Don't Merge

## Schools that Appear in 2014 - 2015, but not 2016 Academic Scores  

Based on anecdotal spot checks, these appear to be 'out of the ordinary' schools such as codes for homeschooled children in certain districts, special education centers, extension programs, etc.

In [56]:
pd.options.display.max_columns = 100
pd.options.display.max_rows = 100

#Are there schools that don't show up in the 2016 academic scores that do show up in 2014 and 2015?
academic_2014_2015 = academic_df.loc[(academic_df.Test_Year == 2014) | (academic_df.Test_Year == 2015)]
academic_2016 = academic_df.loc[(academic_df.Test_Year == 2016)]

#Get unique schools
schools_2014_2015 = set(academic_2014_2015.School_Code.unique())
schools_2016 = set(academic_2016.School_Code.unique())

schools_missingfrom_2016 = schools_2014_2015 - schools_2016

print list(schools_missingfrom_2016)[100:120]

#Look at a the schools that show up in 2014 and 2015, but not 2016
schools_missing_2016_df = academic_entities.loc[academic_entities.School_Code.isin(list(schools_missingfrom_2016))]
schools_missing_2016_df = schools_missing_2016_df.sort_values(by = "School_Code")
schools_missing_2016_df.iloc[500:505]

[6941041, 126698, 7090558, 6203780, 6050181, 117135, 4970896, 6941074, 129429, 131482, 3430816, 129445, 7102890, 123307, 7045552, 5530035, 4870581, 127415, 7104953, 121277]

,Charter_Number,County_Code,County_Name,District_Code,District_Name,School_Code,School_Name,Test_Year,Type_Id,Zip_Code,filler
8319,NaN,37,San Diego,68296,Poway Unified,118844,Banyan Tree Foundations Academy - Point,2015,7,92110,NaN
8421,NaN,37,San Diego,68338,San Diego Unified,118844,Banyan Tree Foundations Academy - Point,2015,7,92110,NaN
2516,0.0,45,Shasta,10454,Shasta County Office of Education,118992,Magnolia Inde Learning Center,2014,7,96001,NaN
10341,NaN,45,Shasta,10454,Shasta County Office Of Education,118992,Magnolia Independent Learning Center,2015,7,96001,NaN
2517,0.0,45,Shasta,10454,Shasta County Office of Education,119008,Shasta Independent Learning,2014,7,96001,NaN

## Schools / subgroups in FitnessGram not in Academic Test Scores  

There are a significant number of observations that appear in the fitnessgram dataset that do not have corresponding test score results.

In [83]:
unmerged = pd.merge(left = Physfit_df_3_comb, indicator = True, right = academic_df_2, how = 'left', on = ['County_Code', 'District_Code', 'School_Code', 'Subgroup'], )

unmerged_schools = set(unmerged.loc[unmerged._merge == "left_only"].School_Code.unique())
merged_schools = set(unmerged.loc[unmerged._merge == "both"].School_Code.unique())

#Are there schools in common between the rows that merge and those that don't? Yes, but not very many.
print "There are only " + str(len(unmerged_schools & merged_schools)) + " schools in commmon between the rows that merge and those that don't"

#Look at the observations from the fitnessgram data that don't show up in the academic test scores.
unmerged = unmerged.loc[unmerged._merge == "left_only"]

#Hypothesis 1: The observations that are in the fitnessgram, but not the academic scores are small subgroups
#There seems to be a relatively even distribution across subgroups of rows that did not merge
unmerged_subgroup_counts = unmerged.groupby(['Subgroup'], as_index=False).count()
unmerged_subgroup_counts

#Hypothesis 2: The observations that are in the fitnessgram, but not the academic scores are not high schools (and hence don't have test scores for 10th graders)
#Test: see whether there is an extremely high prevalence of zero fitness scores among unmerged observations
#The number of tested 9th grade students is very low, so this hypothesis seems sound. The merge we've done seems OK.
unmerged_fitness_summ = unmerged.groupby(['Subgroup']).mean()
print "Mean Fitnessgram dataset values for unmerged observations"
display(unmerged_fitness_summ.head())

#Do some spot checks of the unmerged schools. Most of these schools appear to be middle schools and elementary schools
unmerged_schools_df = physfit_entities_df.loc[physfit_entities_df.School_Code.isin(list(unmerged_schools))]

print ""
print "-"*100
print""
print "Some example unmerged schools"
display(unmerged_schools_df.iloc[500:505])

There are only 110 schools in commmon between the rows that merge and those that don't
Mean Fitnessgram dataset values for unmerged observations

,County_Code,District_Code,School_Code,NoHFZ9_aerobic,NoStud9_aerobic,Perc9HFZ_aerobic,Perc9NI_aerobic,Perc9NI_HR_aerobic,NoHFZ9_bodycomp,NoStud9_bodycomp,Perc9HFZ_bodycomp,Perc9NI_bodycomp,Perc9NI_HR_bodycomp,Mean_Academic_Test_Score,Students_Tested_Academic,Total_Tested_At_Subgroup_Level_Academic
Subgroup,,,,,,,,,,,,,,,,
All,28.814891,66842.014481,5.005507e+06,0.185419,0.358219,0.180959,0.216990,0.071438,0.210240,0.358219,0.276027,0.107300,0.086060,NaN,NaN,NaN
Economic_disadv,28.839860,66738.483392,4.968491e+06,0.093444,0.221082,0.153394,0.189191,0.081336,0.114957,0.221082,0.234836,0.095711,0.093374,NaN,NaN,NaN
NOT_economic_disadv,28.820883,66719.622721,4.973838e+06,0.076058,0.120244,0.110982,0.048088,0.031018,0.074315,0.120244,0.130475,0.029405,0.030208,NaN,NaN,NaN

----------------------------------------------------------------------------------------------------

Some example unmerged schools

,County_Code,District_Code,Charter_Number,School_Code,cdscode,County,District,School,Year
762,7,61796,0000,6004964,7617966004964,Contra Costa,West Contra Costa Unified,Sheldon Elementary,2014
763,7,61796,0000,6004972,7617966004972,Contra Costa,West Contra Costa Unified,Stege Elementary,2014
764,7,61796,0000,6004980,7617966004980,Contra Costa,West Contra Costa Unified,Stewart Elementary,2014
765,7,61796,0000,6004998,7617966004998,Contra Costa,West Contra Costa Unified,Tara Hills Elementary,2014
766,7,61796,0000,6005003,7617966005003,Contra Costa,West Contra Costa Unified,Valley View Elementary,2014

## Physical Fitness Data Description

There appears to have been a change in reporting procedure in 2012. Starting in 2012, for each of the grades 5, 7, and 9, the percentage of students not in the healthy fitness zone is split between 'Needs Improvement' and 'High Risk'. We will want to determine whether the cutoff to determine whether students not in the healthy fitness zone remained the same after this reporting change was implemented.

Report_Number (and possibly report type) reports the group being reported on in that observation (e.g. all students, male students, female students, black students, white students, etc).

Line_Number and Line_Text identify the data being reported (I think this means the particular fitness measuer)